<div ng-controller="SurveysController">
  <div>
    <h2 class="survey__title">
      {{surveys[currentSurveyIndex].title | uppercase}}
    </h2>
    <div class="survey__question-container">
      <h3 class="survey__question">
        {{surveys[currentSurveyIndex].questions[currentSurveyQuestionIndex].title}}
      </h3>
      <div
        class="question__answers-container"
        ng-repeat="answer in surveys[currentSurveyIndex].questions[currentSurveyQuestionIndex].answers"
        class="question__answer"
      >
        <span>{{answer}}</span>
      </div>
      <button ng-click="incrementCurrentQuestionIndex(1)">Next</button>
      <button ng-click="decrementCurrentQuestionIndex(-1)">Back</button>
    </div>
  </div>
</div>
