<div ng-controller="SurveysController">
  <div ng-repeat="survey in surveys">
    <h2 class="survey__title">{{survey.title | uppercase}}</h2>
    <div
      ng-repeat="question in survey.questions"
      class="survey__question-container"
    >
      <h3 class="survey__question">{{question.title}}</h3>
      <div
        class="question__answers-container"
        ng-repeat="answer in question.answers"
        class="question__answer"
      >
        <span>{{answer}}</span>
      </div>
      <button>Next</button>
    </div>
  </div>
</div>
